import React, { useState, useEffect, Fragment } from 'react';

import Loader from 'react-loader-spinner';
import EventDispatcher from '@garney/event-dispatcher';

import './busy-indicator.scss';


class BusyDispatcher extends EventDispatcher {
    constructor() {
        super();
        this.state = false;
    }

    setBusyStatus(status) {
        this.state = status;
        this.dispatchEvent(BusyDispatcher.events.SET_BUSY_STATUS, this.state);
    }

    get status() {
        return this.state;
    }
}

BusyDispatcher.instance = new BusyDispatcher();
BusyDispatcher.events = {
    SET_BUSY_STATUS: "SET_BUSY_STATUS"
};
function BusyIndicator({ options = {} }) {
    const defaultOptions = {
        type: 'Puff',
        color: '#00BFFF',
        height: 50,
        width: 50
    };

    options = {
        ...defaultOptions,
        ...options
    };

    const { type, color, height, width } = options;
    const [status, setStatus] = useState(BusyDispatcher.instance.status);

    useEffect(() => {
        BusyDispatcher.instance.addEventListener(BusyDispatcher.events.SET_BUSY_STATUS, (status) => {
            setStatus(status);
        })
    }, []);

    const view = status ? (
        <div className="busy-indicator">
            <Loader
                type={type}
                color={color}
                height={height}
                width={width}
            />
        </div>
    ): '';
    return view;
}

function setBusyStatus(status) {
    BusyDispatcher.instance.setBusyStatus(status)
}




module.exports = {
    BusyIndicator,
    setBusyStatus,
    status: BusyDispatcher.instance.status
};